@import "styles/variables";
@import "styles/breakpoints";

.header {
    align-items: center;
    background-image: url("/assets/carte/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 300px;
    padding: 0px $padding-horizontal;
    @media (max-width: 320px) {
      .header {
        height: 200px; /* Adjust the height to fit the smaller screen */
        padding: 0 10px; /* Adjust the padding to fit the smaller screen */
      }
    
      .header__text {
        font-size: 3rem; /* Adjust the font size for smaller screens */
        min-width: 300px; /* Adjust the minimum width for smaller screens */
        width: 80%; /* Adjust the width to fit the smaller screen */
      }
    }
    @media (max-width: $desktop_xsm) {
      padding: 0px $padding-horizontal-mobile;
    }
    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
      padding: 0px $padding-horizontal-sm;
    }
    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
      padding: 0px $padding-horizontal-md;
    }
    &__text {
      color: white;
      font-size: 5rem;
      min-width: 400px;
      width: 40%;
    }
}